<h1>List of Restaurants</h1><br>
<img src="https://thumbs.gfycat.com/DarlingAmusedGar-size_restricted.gif"><br><br>
<ul>
  <% @restaurants.each do |restaurant| %>
    <li><%= link_to(restaurant.name, restaurant_path(restaurant)) %></li>
  <% end %>
</ul>

<%= link_to("Make a Reservation", new_reservation_path) %>

